ic-auto-popup {
	padding:		2rem !important;	
}

ic-auto-popup h1,
ic-auto-popup h2,
ic-auto-popup h3 {
	font-size:		1.3rem;
}



ic-auto-popup p {
	font-size:		1rem;
	width:			30rem;
	text-align:		left;
	max-width:		100%;
	white-space:	normal !important;
}