ic-extended-search .buttons {
	display:			flex;
	flex-wrap:			wrap;
	gap:				1rem;
	margin:				1rem 0;
	align-items:		center;
}


ic-extended-search .buttons > * {
	width:				auto;
	flex:				0 0 auto;
}

ic-extended-search .results {
	display:			flex;
	justify-content:	center;
	margin-top:			2rem;
}