ic-extended-search .buttons {
	display:			flex;
	flex-wrap:			wrap;
	gap:				1rem;
	margin:				1rem 0;
}


ic-extended-search .buttons.split {
	display:			flex;	
}

ic-extended-search .buttons.split > * {
	flex:				1 0 0;
	display:			flex;
	flex-direction:		column;
	align-items:		flex-start;
	gap:				0.5rem;
}

ic-extended-search .results {
	display:			flex;
	justify-content:	center;
	margin-top:			2rem;
}