
ic-event-details .details {
	display:					grid !important;
	grid-template-columns:		repeat(3,max-content);
	column-gap:					1rem;
	margin-bottom:				1rem;
}


ic-event-details .details .iteration {
	grid-column:				span 3;
	white-space:				nowrap;
}

ic-event-details .details .iteration.leading {
	margin-top:					1rem;
}

ic-event-details .details .iteration.daily {
	grid-column:				span 1;
}

ic-event-details .details .iteration.daily + .weekday {
	display:					none;
}

ic-event-details .details .iteration.daily.leading  + .weekday + .time-range {
	margin-top:					1rem;
}

ic-event-details .details .weekday {
	padding-left:				1rem;
}


ic-event-details .details  .time-range {
	font-family:				mono;
	display:					flex;
	white-space:				nowrap;
}

ic-event-details .details  .time-range .link {
	flex:						1 1 0;
}

ic-event-details .details  .time-range > * {
	display:					inline-block;
}

ic-event-details a[download] {
	display:					block !important;
	margin-bottom:				1rem;
}

