ic-extended-search .buttons,
ic-extended-search a {
	display:			flex;
	flex-wrap:			wrap;
	gap:				1rem;
	margin:				1rem 0;
	align-items:		center;
}


ic-extended-search .buttons > *,
ic-extended-search a > * {
	width:				auto;
	flex:				0 0 auto;
	margin:				0 !important;
}

ic-extended-search .results {
	display:			flex;
	justify-content:	center;
	margin-top:			2rem;
}