.ic-item-tiles {
	display:				grid;
	grid-template-columns:	1fr 1fr;
	gap:					2rem;
	margin:					1rem 0;
}

ic-item-tile,
[ic-item-tile] {
	position:				relative;
	display:				flex;
	box-sizing:				border-box;
	flex-direction:			column;
	align-items:			stretch;
	border-radius:			1.25rem;
	overflow:				hidden;
	background:				var(--primary-background-color);
	aspect-ratio:			1.25;
	box-shadow:				1px 1px 2px 0 rgba(0,0,0,0.12);	
}



ic-item-tile header,
[ic-item-tile] header {
	position:				relative;	
	display:				flex;
	box-sizing:				border-box;	
	flex:					0 0 auto;
	justify-content:		space-between;
	align-items:			flex-start;
	padding:				0.5rem;
	z-index:				2;
}

ic-item-tile header .background,
[ic-item-tile] header .background {
	position:				absolute;
	top:					0;
	bottom:					0;
	left:					0;
	right:					0;
	opacity:				0.6;
	z-index:				-1;
}

ic-item-tile header .icon:not(button),
[ic-item-tile] header .icon:not(button) {
	font-size:				2rem;
}

ic-item-tile header button, 
[ic-item-tile] header button {
	background-color:		transparent;
}

ic-item-tile .details,
[ic-item-tile] .details {
	display:				flex;
	flex:					1 0 auto;
	padding:				1rem 0.5rem;	
	flex-direction:			column;
}

ic-item-tile .details .title,
[ic-item-tile] .details .title {
	font-weight:			600;
	margin-bottom:			0.5rem;
	white-space:			nowrap;
	text-overflow:			ellipsis;
	overflow:				hidden;
}

ic-item-tile .details .brief,
[ic-item-tile] .details .brief {
	flex:					5 5 2.4em;
	font-size:				0.875rem;
	line-height:			1.2;
	margin-bottom:			0.5rem;
	overflow:				hidden;
}

ic-item-tile ic-item-location,
[ic-item-tile] ic-item-location {
	font-size:				0.875rem;
}

ic-item-tile .details .spacer {
	flex:					1 1 0;
}