.ic-item-property-edit,
ic-item-property-edit {
	display:					block;
	position: 					relative;
	z-index: 					0;
}

ic-item-property-edit h4 {
	margin:						0;
}

ic-item-property-edit .current-value-parent-box{
	display:					flex;
	position:					relative;
}

ic-item-property-edit .current-value{
	display:					inline-block;
	flex:						1 0 0;
	word-break:					break-all;
	white-space:				nowrap;
	overflow:					hidden;
	text-overflow:				ellipsis;
	font-size:					1em;
	opacity:					0.4;
	line-height:				1.5rem;
}

ic-item-property-edit .current-value .list {
	display:					inline-flex;
}

ic-item-property-edit .current-value .list > *:after {
	content:					', ';
	flex:						0 0 auto;
}

ic-item-property-edit .current-value + button {
	vertical-align:				top;
}

ic-item-property-edit .current-value.diff {
	text-decoration:			line-through;
	white-space:				nowrap;
}

ic-item-property-edit input[type="text"]{
	font-size:					1rem;
	padding:					0.5rem 1rem;
}

ic-item-property-edit textarea {
	font-size:					1rem;
	padding-bottom:				2rem;
}


ic-item-property-edit input[type="text"]:focus,
ic-item-property-edit textarea:focus {
	box-shadow:					0 0 0 1px #000 inset;
}

ic-item-property-edit select {
	border-radius:				0.5em;
}


ic-item-property-edit .extra-padding input[type="text"] {
	padding-right:				5rem;
}

ic-item-property-edit .input-wrapper {
	position:					relative;
}

ic-item-property-edit .input-wrapper input:focus ~ *:not(input):not(textarea),
ic-item-property-edit .input-wrapper textarea:focus ~ *:not(input):not(textarea){
	display:					inline-block;
}

ic-item-property-edit .input-wrapper :not(input):not(textarea){
	display:					block;
	position:					absolute;
	right:						0.5rem;
	bottom:						0.5rem;
	line-height:				1.5rem;
	z-index: 					1000;
}

ic-item-property-edit .options {
	display:					flex;
	flex-wrap:					wrap;
	margin-top:					0.5rem;
}

ic-item-property-edit .options button {
	flex:						1 0 18rem;
	line-height:				1.2rem;
	display:					flex;
	align-items:				center;
	padding-top:				0.25em;
	padding-bottom:				0.25em;
	text-align: 				left;
}

ic-item-property-edit .options button.check-none {
	flex:						1 0 100%;
}

ic-item-property-edit .options button.leading {
	min-width: 					100%;
}


ic-item-property-edit.long-labels .options {
	display:					flex;
	flex-direction:				column;
	flex-wrap:					nowrap;
	margin-top:					0.5rem;
}

ic-item-property-edit.long-labels .options button {
	flex:						0 0 auto;
	line-height:				1.2rem;
	display:					flex;
	align-items:				center;
	padding-top:				0.25em;
	padding-bottom:				0.25em;
	text-align: 				left;
}

ic-item-property-edit.short-labels .options button {
	flex:						0 0 auto;
}


ic-item-property-edit .options.item-list button{
	padding-top:				0;
	padding-bottom:				0;
}



ic-item-property-edit .options button > *:first-child {
	display:					inline-block;
	margin:						0 0.5rem;
}



.ic-item-property-edit.invalid input[type="text"],
.ic-item-property-edit.invalid textarea,
ic-item-property-edit.invalid input[type="text"],
ic-item-property-edit.invalid textarea {
	box-shadow:					0 0 0 2px var(--error-color) inset;
}

.ic-item-property-edit.invalid,
ic-item-property-edit.invalid {
	position:					relative;
	overflow:					visible !important;
}

.ic-item-property-edit.invalid:after,
ic-item-property-edit.invalid:after {
	content:					'';
	display:					block;
	position:					absolute;
	right:						calc(-1rem - 1px);
	top:						-0.25rem;
	bottom:						0;
	background-color:			var(--error-color);
	width:						0.15rem;
}

.ic-item-property-edit.invalid:before,
ic-item-property-edit.invalid:before {
	content:					'';
	display:					block;
	position:					absolute;
	top:						-0.25rem;
	bottom:						0rem;
	left:						-0.5rem;
	right: 						-1rem;
	z-index: 					-1;
	background-color:			var(--error-color);
	opacity: 					0.05;
}

ic-item-property-edit .error {
	padding:					0.5rem 0 1rem ;
	line-height:				1.2rem;
	min-height:					1.2rem;
	color:						var(--error-color);
}



ic-item-property-edit .date, 
ic-item-property-edit .time {
	display:					flex;
	margin-bottom:				1rem;
}

ic-item-property-edit .date label, 
ic-item-property-edit .time label {
	display:					inline-block;
	flex:						1 1 auto;
}

ic-item-property-edit .date label + label, 
ic-item-property-edit .time label + label {
	margin-left:				1rem;
}

ic-item-property-edit .date label > *, 
ic-item-property-edit .time label > *{
	display:					block;
}

ic-item-property-edit[ic-recurring-event] .current-value-parent-box {
	display:					flex;	
	flex-wrap:					wrap;
	line-height:				1.5;
	margin-bottom:				1rem;
}

ic-item-property-edit[ic-recurring-event] .current-value-parent-box > *{
	flex:						1 0 auto;	
}

ic-item-property-edit[ic-recurring-event] .current-value-parent-box > *:last-child {
	flex:						1 0 auto;	
}

ic-item-property-edit[ic-recurring-event] .current-value {
	line-height:				1.2rem;
}

ic-item-property-edit[ic-recurring-event] .no-value {
	margin-top:					1rem;
}

ic-item-property-edit[ic-recurring-event] .current-value.diff{

	background:					linear-gradient(to top left,
									rgba(0,0,0,0) 0%,
									rgba(0,0,0,0) calc(50% - max(0.1rem, 1px)),
									rgba(0,0,0,1) 50%,
									rgba(0,0,0,0) calc(50% + max(0.1rem, 1px)),
									rgba(0,0,0,0) 100%),
								linear-gradient(to top right,
									rgba(0,0,0,0) 0%,
									rgba(0,0,0,0) calc(50% - max(0.1rem, 1px)),
									rgba(0,0,0,1) 50%,
									rgba(0,0,0,0) calc(50% + max(0.1rem, 1px)),
									rgba(0,0,0,0) 100%);

	text-decoration:			none;							
}

ic-item-property-edit[ic-recurring-event] .recurring-rules {
	position:					relative;
	display:					grid;
	align-items:				center;
	gap:						0.5rem;
	grid-template-columns:		max-content max-content 1fr max-content max-content max-content;
	margin-bottom:				1rem;
}

ic-item-property-edit[ic-recurring-event] .recurring-rules.fixed-date {
	display:					flex;
	flex-wrap:					wrap;
	align-items:				center;
	gap:						0 1rem;

}

ic-item-property-edit[ic-recurring-event] .recurring-rules.fixed-date  > * {
	display:					flex;
	flex-wrap:					wrap;
	align-items:				center;
	flex:						1 1 auto;
	gap:						1rem;	
}

ic-item-property-edit[ic-recurring-event] .recurring-rules.fixed-date  > * > *{
	display:					flex;
	flex:						0 0 auto;
	gap:						1rem;	
}

.XS ic-item-property-edit[ic-recurring-event] .recurring-rules.fixed-date {
	flex-direction:				collumn;
}

ic-item-property-edit[ic-recurring-event] .recurring-rules > .start-date {
	display:					flex;
	grid-column:				1 / span 5;
	justify-content:			flex-end;
	align-items:				center;
	gap:						1rem;
}

.XS ic-item-property-edit[ic-recurring-event] .recurring-rules > .start-date {
	flex-direction:				column;
	align-items:				stretch;
}

ic-item-property-edit[ic-recurring-event] .recurring-rules > .start-date > *{
	flex:						0 0 auto;
	width:						auto;

}

ic-item-property-edit[ic-recurring-event] .recurring-rules > .action {
	display:					flex;
	align-items:				center;
	border-left:				solid 2px var(--plain-text-color);
	height:						100%;
	padding-left:				0.5rem;
}

ic-item-property-edit[ic-recurring-event].invalid .recurring-rules > .action.with-error {
/*	border-color:				var(--error-color)!important;*/
	grid-row-end:				span 2;	
}



.XS ic-item-property-edit[ic-recurring-event] .recurring-rules > .action {
	display:					flex;
	align-items:				center;
	border-left:				none;
	border-bottom:				solid 2px var(--primary-color);
	height:						auto;
	padding-left:				0;
	padding-bottom:				0.5rem;
}

ic-item-property-edit[ic-recurring-event] .recurring-rules > .action.with-example-date{
	grid-row-end:				span 2;

}

ic-item-property-edit[ic-recurring-event].invalid .recurring-rules > .action.with-error.with-example-date{
	grid-row-end:				span 3;

}

.XS ic-item-property-edit[ic-recurring-event] .recurring-rules > .action{
	display:					none;
}


ic-item-property-edit[ic-recurring-event] .recurring-rules > .error {
	display:					none;
	grid-column:				1 / span 5;
	padding: 					0;
	margin-top:					-0.75rem;
	margin-bottom:				0.25rem;
}


ic-item-property-edit[ic-recurring-event].invalid .error {
	display:					block;
}


ic-item-property-edit[ic-recurring-event] .recurring-rules + button {
	display:					block;
	margin:						auto;
	padding-left:				1rem;
	padding-right:				1rem;
}


ic-item-property-edit[ic-recurring-event] input[type="time"] {
	font-family:				mono;
}

ic-item-property-edit[ic-recurring-event] input[type="time"],
ic-item-property-edit[ic-recurring-event] input[type="date"] {
	height:						2rem;
	padding-top:				0.1rem;
	padding-bottom:				0.1rem;
	line-height:				1.5rem;
}

.ic-item-property-edit[ic-recurring-event].invalid:before,
ic-item-property-edit[ic-recurring-event].invalid:before{
	left:						100%;
	top:						0;
}


ic-item-property-edit[ic-recurring-event] .buttons {
	display:					flex;
	flex:						0 0 100% !important;
	gap:						1rem;
	margin-top:					2rem;
	flex-wrap:					wrap;
}


ic-item-property-edit[ic-recurring-event] .edit-box,
ic-item-property-edit[ic-recurring-event] .preview-box {
	border:						1px solid var(--neutral-color);
	margin:						0 calc(-1rem - 1px);
	padding:					1rem 1rem;
	margin-bottom:				1rem;
}

ic-item-property-edit[ic-recurring-event] .edit-box {
	border-style:				dashed;
}


.ic-item-property-edit.invalid[ic-recurring-event]:after,
ic-item-property-edit.invalid[ic-recurring-event]:after {
	top:						0rem;
}


.ic-item-property-edit.invalid[ic-recurring-event]:before,
ic-item-property-edit.invalid[ic-recurring-event]:before {
	left:						-1rem;
}





.XS ic-item-property-edit[ic-recurring-event] .edit-box,
.XS ic-item-property-edit[ic-recurring-event] .preview-box {
	padding:					0.5rem !important;
}


.XS ic-item-property-edit[ic-recurring-event] .recurring-rules {
	display:					flex;
	flex-wrap:					wrap;
	margin-bottom:				1.5rem;
}

ic-item-property-edit[ic-recurring-event] .recurring-rules > * {
	flex:						0 0 auto;
	width:						auto;
}

.XS ic-item-property-edit[ic-recurring-event] .recurring-rules > * {
	flex:						1 1 100%;
	position:					relative;
}

.XS ic-item-property-edit[ic-recurring-event] .recurring-rules > .iteration {
	margin-top:					2rem;
}

.XS ic-item-property-edit[ic-recurring-event] .recurring-rules > * > * {
	width:						100%;
}















