ic-item-preview[ic-date] {
	display:				block !important;
	position:				relative;
	border-radius:			0.5rem 0 0 0.5rem;
	overflow:				hidden;
	padding:				0;
}

.XS ic-item-preview[ic-date] {
	border-radius:			0;
}

ic-item-preview[ic-date] .backdrop {
	display:				flex;
	padding-left:			2rem;
	padding-right:			3.5rem;
	padding-top:			1rem;
	padding-bottom:			0,5rem;
	background-repeat:		no-repeat;
	background-position:	top 1rem right 0.5rem;
	background-size:		3rem;
}

.XS ic-item-preview[ic-date] .backdrop{
	padding-right:			0;
	background-image:		none!important;
}

ic-item-preview[ic-date] .backdrop:before {
	display:				block;
	content:				'';
	z-index:				0;
	background:				rgba(255,255,255,0.7);
	position:				absolute;
	left:					1rem;
	right:					0;
	top:					0;
	bottom:					0;
}


ic-item-preview[ic-date] .backdrop ic-calendar-sheet {
	opacity:				0.5;
}

ic-item-preview[ic-date] .backdrop .content {
	flex:					1 0 0;
	display:				block;
}

ic-item-preview[ic-date] .backdrop .content .category {
	font-size:				0.8rem;
	font-weight:			500;
	color:					var(--dark-text-color);
}

ic-item-preview[ic-date] .backdrop .content .title {
	font-size:				1.2rem;
	margin:					0.5rem 0;
	color:					var(--dark-text-color);
}

ic-item-preview[ic-date] .backdrop .content .brief {
	font-size:				1rem;
	font-weight:			normal;	
	color:					var(--dark-text-color);
}



ic-item-preview[ic-date] .stats {
	display:				flex;
	margin:					0.5rem 0;
	font-size:				0.8em;
	min-height:				1rem;
}

ic-item-preview[ic-date] .stats > * {
	flex:					0 0 50%;
	position:				relative;
	padding-left:			1.5em;
}

ic-item-preview[ic-date] .stats > * .icon {
	position:				absolute;
	top:					0;
	left:					0;
	font-size:				0.8em;
}

ic-item-preview[ic-date] .stats .time {
	flex:					0 0 auto;
	min-width:				7em;
	display:				grid;
	grid-template-columns:	repeat(3, auto);
}

ic-item-preview[ic-date] .stats .location {
	display:				flex;
	flex:					1 1 auto;
	flex-wrap:				wrap;
}

ic-item-preview[ic-date] .stats .location > * {
	display:				inline-block;
	flex:					0 1	auto;
}