.ic-item-tiles {
	display:				grid;
	grid-template-columns:	1fr 1fr;
	gap:					2rem;
	margin:					1rem 0;
}

ic-item-tile {
	position:				relative;
	display:				flex;
	box-sizing:				border-box;
	flex-direction:			column;
	align-items:			stretch;
	border-radius:			1.25rem;
	overflow:				hidden;
	background:				var(--primary-background-color);
	aspect-ratio:			1.4;
	box-shadow:				1px 1px 2px 0 rgba(0,0,0,0.12);
}



ic-item-tile header {
	position:				relative;	
	display:				flex;
	box-sizing:				border-box;	
	flex:					0 0 auto;
	justify-content:		space-between;
	align-items:			flex-start;
	padding:				0.5rem;
	z-index:				2;
}

ic-item-tile header .background {
	position:				absolute;
	top:					0;
	bottom:					0;
	left:					0;
	right:					0;
	opacity:				0.6;
	z-index:				-1;
}

ic-item-tile header .icon:not(button) {
	font-size:				2rem;
}

ic-item-tile header button {
	background:				transparent;
}

ic-item-tile .details {
	flex:					1 0 auto;
	margin:					0.5rem;	
}

ic-item-tile .details .title {
	font-weight:			600;
	margin-bottom:			0.5rem;
}

ic-item-tile .details .brief {
	font-size:				0.75rem;
}


ic-item-tile .location {
	flex:					0 0 auto;
	display:				flex;
	align-items:			center;
	justify-content:		flex-start;
	margin:					0.5rem;	
}

ic-item-tile .location .text {
	font-size:				0.75rem;		
}






