textarea, 
input, 
button, 
select { 
	font-family: 		inherit; 
	font-size: 			inherit; 
}


input, 
button, 
select,
button:active,
button:hover,
button:focus,
select:active,
select:hover,
select:focus {
	display:			inline-block;
	border:				none;	
	border-style:		none;
	color: 				unset;
	-webkit-appearance: none;
}

label {
	display:			flex;
	align-items: 		center;
	cursor:				pointer;
}

label > input[type=checkbox]{
	flex:				0 0 auto;
	width:				auto;
	height:				auto;
	padding:			0;
}

label > input[type=checkbox].left{
	margin-right:		0.5em;
}

label > input[type=checkbox].right{
	margin-left:		0.5em;
}


select::-moz-focus-inner,
button::-moz-focus-inner {
    padding:0;
    border:0;
}


select,
button {
	cursor:				pointer;
	background-color:	var(--primary-background-color, #fff);
	border-radius:		0;
	padding:			0;
	margin:				0;
}

select {
	appearance: 		none;
	padding: 			0.5rem;
}
