
/* ic-map */

ic-map {
	display:				block;
	transition:				filter 500ms;
}

ic-map-consent-reminder + ic-map {
	filter:					blur(1rem) saturate(0.5) contrast(0.25) brightness(1.5);
}


ic-map,
ic-map * {
	touch-action: manipulation;
}

ic-map-location-marker {
	display:			block;
	position:			relative;
	height:				0;
	width:				0;
	overflow:			visible;
}

ic-map-location-marker > .icon {	
	position:			absolute;
	bottom:				0;
	left:				-0.75em;
	font-size:			2rem;
}

ic-map-item-marker {
	display:				block;
	position:				absolute;
	background:				#fff;
	font-size:				1.3rem;
	left:					0;
	top:					-2.6666667em;
	height:					2.6666667em;
	width:					0;
	transition:				all 300ms ease-out;
	outline:				none !important;
}



ic-map.highlight-item ic-map-item-marker:not(.highlight) {
	opacity:				0.2;	
}

ic-map.highlight-item ic-map-cluster-marker  ic-map-item-marker {
	opacity:				1 !important;
}

ic-map.highlight-item ic-map-cluster-marker:not(.highlight) {
	opacity:				0.2;
	transition-duration:	0;
} 


.picker:before{
	position:				absolute;
	opacity:				0;
	transition:				opacity 1000ms ease-out;
	animation-play-state:	paused;
}

.picker.highlight:before {
	content:				'';
	bottom:					-0.5rem;
	left:					-0.5rem;
	height:					0.5rem;
	width:					1rem;
	z-index:				-1;
	box-shadow:				0 0 0.5rem 0.5rem #fff;
	background:				var(--active-color, --primary-color, #6af);
	border-radius:			100%;
	opacity:				1;
	animation:				pulse 750ms ease-in-out infinite alternate;
	animation-play-state:	running;
}

@keyframes pulse {
	0%{
		transform:			scale(0.5);
	}

	100%{
		transform:			scale(1);
	}
}

ic-map-item-marker.leaflet-marker-draggable{
	transition:				none;
}


ic-map-item-marker .outer-icon {
	position:				absolute;
	top:					0;
	left:					0;
	width:					2em;
	height:					2.666666666em;
	line-height:			2em;
	background-position:	50% 50%;
	background-size:		2em auto;
	background-repeat:		no-repeat;
}

.marker-update ic-map-item-marker .outer-icon {
	animation:				marker-enter 500ms var(--animation-delay, 0ms) ease-out forwards;
	transform-origin:		bottom left;	
}

ic-map-item-marker .outer-icon .inner-icon {
	position:				absolute;
	top:					0;
	left:					0;
	height:					2em;
	width:					2em;
	background-repeat:		no-repeat;
	background-size:		1.5em;
	background-position:	center;
	cursor:					default;
}

ic-map-item-marker .content {
	display:				block;
	position:				absolute;
	box-sizing:				border-box;
	top:					0;
	left:					2em;
	padding:				0.25em 0;
	background-color:		#fff;
	height:					2em;
	text-align:				left;
	max-width:				0;
	overflow:				hidden;
	transition:				all 150ms ease-in;
	color:					#444 !important;
}


ic-map-item-marker .content .title  {
	display: 				block;
	white-space: 			nowrap;
	text-overflow:			ellipsis;
	font-size:				0.7em;
	line-height:			1.2;
	font-weight:			600;
	overflow:				hidden;
}

ic-map-item-marker .content .details  {
	display: 				block;
	white-space: 			nowrap;
	text-overflow:			ellipsis;
	font-size:				0.6em;
	line-height:			1.2;
	font-weight:			400;
	overflow:				hidden;
}

ic-map-item-marker:active,
ic-map-item-marker:focus,
ic-map-item-marker:hover {
	z-index:				9999999999 !important;
}


ic-map-item-marker.active	.content,
ic-map-item-marker:active 	.content,
ic-map-item-marker:focus 	.content,
ic-map-item-marker:hover 	.content {
	max-width:				14em;
	padding-left:			0.25em;
	padding-right:			0.5em;
}


/*.ic-map-marker-shadow {
	position:				absolute;
	left:					-1rem;
	top:					-2.6rem;
	width:					2rem;
	height:					2.666667rem;
	background-image:		url('../images/marker_shadow.svg');
	background-size:		2rem auto;
	background-repeat:		no-repeat;
	background-position:	50% 50%;
	transition:				transform 300ms ease-out;
}
*/


/* cluster */

ic-map-cluster-marker {
	display:				block;
	position:				absolute;
	top:					0;
	height:					0;
	width:					0;
	text-align:				center;
	outline:				none !important;
	transition:				opacity 300ms ease-out;
}


ic-map-cluster-marker:active,
ic-map-cluster-marker:focus,
ic-map-cluster-marker:hover {
	z-index:				9999999 !important;
}

ic-map-cluster-marker:active	ic-map-item-marker,
ic-map-cluster-marker:focus		ic-map-item-marker,
ic-map-cluster-marker:hover		ic-map-item-marker {
	z-index:				0;
}	

ic-map-cluster-marker .wrapper {
	position:				absolute;
	left:					0em;
	bottom:					0;
}

.marker-update ic-map-cluster-marker .wrapper {
	animation:				marker-enter 600ms var(--animation-delay, 0ms) ease-out forwards;
	transform-origin:		bottom left;	
}

ic-map-cluster-marker ic-map-item-marker .outer-icon {
	animation:				none !important;	
}



@keyframes marker-enter {
	0% {
		transform:	scaleY(1) scaleX(1);		
	}
	
	30% {
		transform:	scaleY(0.85) scaleX(1.05);
	}

	60% {
		transform:	scaleY(1.075) scaleX(0.9);
	}

	80% {
		transform:	scaleY(0.95) scaleX(1.05);
	}

	100% {
		transform:	scaleY(1.0) scaleX(1);
	}
}


ic-map-cluster-marker ic-map-item-marker {
	position:				relative;
	display:				block;
	top:					0;
	left:					0;
	height:					2.666667em;
	transition:				margin-top 100ms ease-in;
}

ic-map-cluster-marker ic-map-item-marker:focus,
ic-map-cluster-marker ic-map-item-marker:hover {
	z-index:				0 !important;
}


ic-map-cluster-marker ic-map-item-marker + ic-map-item-marker {
	margin-top:			-2.4em;
}


ic-map-cluster-marker:active ic-map-item-marker + ic-map-item-marker,
ic-map-cluster-marker:focus ic-map-item-marker + ic-map-item-marker,
ic-map-cluster-marker:hover ic-map-item-marker + ic-map-item-marker {
	margin-top:			-0.6em

}

ic-map-cluster-marker ic-map-item-marker + ic-map-item-marker .outer-icon{
	box-shadow:				0 -1px 0 0 #fff;
}


ic-map-cluster-marker:focus ic-map-item-marker + ic-map-item-marker .outer-icon,
ic-map-cluster-marker:hover ic-map-item-marker + ic-map-item-marker .outer-icon{
	box-shadow:				none !important;
}



ic-map-consent-reminder {
	position: 				absolute;
	display:				flex;
	top:					0;
	left:					0;
	right:					0;
	bottom:					0;
	background:				rgba(200,200,200,0.5);
	z-index:				9999;	
	align-items:			center;
	justify-content:		center;
	flex-direction:			column;
	text-align:				center;
	color:					#000;	
}

ic-map-consent-reminder > * {
	max-width:				min(calc(100% - 1rem), 30rem);
}


ic-map .spinner-pane {
	position:				absolute;
	top:					0;
	left:					0;
	right:					0;
	bottom:					0;
	pointer-events: 		none;
	z-index:				650;
	transition:				background-color 600ms ease-in;
}


ic-map ic-spinner {
	position:				absolute;
	display:				inline-block;
	font-size:				3rem;
	background-color:		#fff;
	border-radius:			100% !important;
	padding:				0.25rem;
	box-shadow:				0 0 0.5rem rgba(0,0,0,0.5);
}

/*
.expand-map ic-map ic-spinner{
	display:				block;
}
*/


.leaflet-bottom.leaflet-center {
	display:				flex;
	left:					0;
	right:					0;
	z-index:				1001;
	justify-content:		space-around;
}

.leaflet-top.leaflet-center {
	display:				flex;
	left:					0;
	right:					0;
	z-index:				1001;
	justify-content:		space-around;
}

ic-map-coordinate-picker-control {
	display:				flex;
	width:					25rem;
	box-sizing:				border-box;
	max-width:				95%;
	padding:				0.5rem 0.5rem;
	border-radius:			0.3rem;
	font-size:				1rem;
	justify-content: 		space-between;
	flex-wrap:				wrap;
	gap:					1rem;
}

ic-map-coordinate-picker-control > * {
	flex:					1 0 1rem;
	text-align:				center;
}


ic-map-coordinate-picker-control.changed {}


ic-mini-map {
	display:				block;
	height:					12rem;
}








/* marker */
.marker-type-events{
	background-image:		url(/images/marker_type_events.svg);
}

.marker-type-services{
	background-image:		url(/images/marker_type_services.svg);
}

.marker-type-places{
	background-image:		url(/images/marker_type_places.svg);
}

.marker-type-information{
	background-image:		url(/images/marker_type_information.svg);
}


.marker-type-unknown{
	background-image:		url(/images/marker_type_unknown.svg);
}







