


ic-overlays ic-main-menu {
	background-color:			transparent;
	padding:					0;
}

ic-overlays ic-main-menu ul {
	display:					flex;
	flex-direction:				column;
	z-index:					0;
	width:						auto;
	margin-top:					0;
}

ic-overlays ic-main-menu .bg-0.hover:focus,
ic-overlays ic-main-menu .bg-0.hover:hover {
	background:					inherit !important;
	color:						inherit !important;
}

ic-overlays ic-main-menu li {
	padding:					0;
}

ic-overlays ic-main-menu li ic-logo-line{
	font-size:					3rem;
}

ic-overlays ic-main-menu > ul > li:nth-child(1){
	padding-top:				2rem;
}


ic-overlays ic-main-menu > ul > li:nth-child(4){
	padding-bottom:				1rem;
}


ic-overlays ic-main-menu > ul > li:nth-child(5){
	padding-top	:				1rem;
}


ic-overlays ic-main-menu a, 
ic-overlays ic-main-menu button {
	display:					block !important;
	box-sizing: 				border-box;
	width: 						100%;
	padding:					0 2rem;
	line-height:				3rem;
	text-align: 				left;
}

ic-overlays ic-main-menu ul li {
	display:					block;
}

ic-overlays ic-main-menu > ul > li > a {
	font-weight: 				bold;
}

ic-overlays ic-main-menu ul > li > ul {
	padding:					1rem 0;
	position:					relative;
	box-shadow:					none;	
}

ic-overlays ic-main-menu ul > li > ul > li a:focus,
ic-overlays ic-main-menu ul > li > ul > li a:hover,
ic-overlays ic-main-menu ul > li > ul > li button:focus,
ic-overlays ic-main-menu ul > li > ul > li button:hover {
	background-color:			transparent;
	color:						inherit;
}

ic-overlays ic-main-menu ul > li > ul > li a, 
ic-overlays ic-main-menu ul > li > ul > li button {
	display:					block;
}

ic-overlays ic-main-menu ul > li > ul > li:not(:first-child) a:before, 
ic-overlays ic-main-menu ul > li > ul > li:not(:first-child) button:before{
	content:					'';
	display:					block;
	height:						0px;
	border-top:					1px solid rgba(0,0,0,.3);
}