ic-search-result-calendar {
	display:					block;
}

ic-search-result-calendar header {
	display:					flex;

}

ic-search-result-calendar header ic-spinner {
	font-size:					2rem;
	flex:						0 0 auto;
}


.item-list  a,
.item-list  li,
ic-search-result-calendar  a,
ic-search-result-calendar  li {
	display:					block;
	margin:						1rem 0;
}

ic-search-result-calendar .more {
	font-size: 					2em;
	user-select:				none;
}
