ic-taxonomy-filter-tag-list {
	display:					block;
	box-sizing:					border-box;	
}

ic-taxonomy-filter-tag-list a, /*alt*/
ic-taxonomy-filter-tag-list button {
	flex:						0 1 auto;
	position:					relative;
	margin:						0.25rem 0.25rem;
	white-space: 				nowrap;
	min-width:					0;	
	padding:					0 1rem;
}

ic-taxonomy-filter-tag-list a > *, /*alt*/
ic-taxonomy-filter-tag-list button > * {
	flex:						1 0 auto;
	display:					inline-block;
	vertical-align:				middle;
}

ic-taxonomy-filter-tag-list a > *:not(.icon), /*alt*/
ic-taxonomy-filter-tag-list button > *:not(.icon){
	white-space: 				nowrap;
	overflow:					hidden;
	text-overflow:				ellipsis;
	min-width:					0;
}

ic-taxonomy-filter-tag-list a > .icon,	/*alt*/
ic-taxonomy-filter-tag-list button > .icon {
	flex:						0 0 auto;
}

ic-taxonomy-filter-tag-list a > * + *, /*alt*/
ic-taxonomy-filter-tag-list button > * + * {
	margin-left:				0.25rem;
}

ic-taxonomy-filter-tag-list a > .icon, /*alt*/

ic-taxonomy-filter-tag-list button > .icon {
	margin-right:				-0.5rem;
}

.S ic-taxonomy-filter-tag-list,
.XS ic-taxonomy-filter-tag-list {
	overflow-x:					auto;	
}

.S ic-taxonomy-filter-tag-list .wrapper,
.XS ic-taxonomy-filter-tag-list .wrapper {
	display:					flex;
	flex-wrap:					nowrap;
	width:						max-content;
}

.S ic-taxonomy-filter-tag-list .wrapper > * ,
.XS ic-taxonomy-filter-tag-list .wrapper > * {
	flex:						0 0 auto;
	order:						2;
} 

.S ic-taxonomy-filter-tag-list .wrapper > .all ,
.XS ic-taxonomy-filter-tag-list .wrapper > .all {
	order:						1;
}
