ic-taxonomy-filter {
	display:					block;
	padding-bottom:				10rem;
}

ic-taxonomy-filter > * {
	display: 					block !important;
	padding: 					0 !important;
	margin-bottom:				1rem !important; 
	margin-top: 				0 !important;
}

ic-taxonomy-filter:after {
	content: 					'';
	display: 					block;
	height: 					1px;
}


ic-taxonomy-filter section .section-toggle {
	margin:						0;
	margin-bottom:				1px;
	font-weight:				400;
	font-size:					1.2em;
}

ic-taxonomy-filter section ul {
	padding-left:				0;
	padding-right:				0;
	padding-top:				0.5rem;
	padding-bottom:				0.5rem;
	margin:						0;
}

ic-taxonomy-filter section .section-toggle.icon, /*alt*/ 
ic-taxonomy-filter section li,	/*alt*/
ic-taxonomy-filter section button,
ic-taxonomy-filter section.types > button /* gets overridden in ic-pages =( */{
	display:					flex !important;
	box-sizing:					border-box;
	width: 						100%;
	align-items:				center !important;
	justify-content:			start;
	height:						3rem;
	padding-left:				3rem !important;
	padding-right:				0.5rem !important;
	background-position:		1rem 50% !important;
	overflow-wrap: 				anywhere;
	margin: 					0 !important;
}


ic-taxonomy-filter section li .section-toggle {
	font-size:					1.5rem;
}

ic-taxonomy-filter section button:not(.icon){
	padding-left: 				1rem !important;
	padding-right: 				1rem !important;
}

ic-taxonomy-filter section .types li.disabled, /*alt*/
ic-taxonomy-filter section .types button.disabled {
	display:					none;
}

ic-taxonomy-filter section .categories li.disabled /*alt*/,
ic-taxonomy-filter section .categories button.disabled {
	display:					none;
}


ic-taxonomy-filter section .unsorted li.disabled, /*alt*/
ic-taxonomy-filter section .unsorted button.disabled {
	display:					none;
}

ic-taxonomy-filter section li div, /*alt*/
ic-taxonomy-filter section button div {
	flex:						1 1 auto;
	display:					inline-block;
	line-height:				1.2;
	text-align: 				left;
}

ic-taxonomy-filter section li .bubble, /*alt*/
ic-taxonomy-filter section button .bubble {
	flex:						0 0 auto;
}

ic-taxonomy-filter section ic-tag{
	padding-left:				0;
}










ic-taxonomy-filter-categories {
	display: 					block;
}


ic-taxonomy-filter .sub-categories {
	position:					relative;	
	padding-left:				1rem;
	z-index:					10;
}

ic-taxonomy-filter .sub-categories:before {
	content:					'';
	position:					absolute;
	top:						0;
	left:						0;
	right:						0;
	bottom:						0;
	z-index:					-1;
	background-color:			var(--primary-color);	
	opacity:					0.25;
}
