:root {
	--icon{{-name[0]}}{{-name[1]}}{{-name[2]}}{{-name[3]}}: url("data:image/svg+xml,{{svg}}");
}

.icon{{-name[0]}}{{-name[1]}}{{.name[2]}}{{.name[3]}} {
	background-image: 	var(--icon{{-name[0]}}{{-name[1]}}{{-name[2]}}{{-name[3]}});
}
