<p
	class			= "message" 
	ng-repeat 		= "message in ic.overlays.messages.autoPopup"
	ic-transclude	= "message"
></p>


<div>

	<label 
		class		= "flex tac margin-auto"
		for 		= "do-not-show-again"
	>

		<input
			class 		= "clear iblock icon left icon-interface-checkbox"
			type 		= "checkbox" 
			id 			= "do-not-show-again"
			ng-model 	= "block"
			ng-class 	= "{'checked': block}" 
			class		= "clear"
		/>

		{{ 'INTERFACE.DO_NOT_SHOW_AGAIN' | translate }}
	</label>

</div>

<div class = "buttons">
	
	<button 
		class		= "bg-3 padding"
		type 		= "button"
		ng-click 	= "close()"
		focus-me
	>
		{{ 'INTERFACE.CLOSE' | translate }}
	</button>
</div>