
<span ng-if = "category || ic.site.filterByType.length || ic.site.searchTerm || subCategories.length || ic.site.filterByUnsortedTag.length || c.site.activeItem">
	<a class = "active" href = "/">{{'INTERFACE.HOME' | translate}}</a>
</span>

<!-- categories -->

<span 
	ng-if = "category || ic.site.filterByType.length || ic.site.searchTerm || subCategories.length || ic.site.filterByUnsortedTag.length || c.site.activeItem"
	class = "icon icon-interface-right plain"	
></span>

<span ng-if 		= "category || ic.site.filterByType.length || ic.site.searchTerm || subCategories.length || ic.site.filterByUnsortedTag.length || c.site.activeItem">
	<a class = "active" href = "/p/tags">{{'INTERFACE.CATEGORIES' | translate}}</a>
</span>


<!-- main categories -->

<span 
	ng-if = "(ic.site.filterByCategory | icCategories).length > 0"
	class = "icon icon-interface-right plain"
></span>


<button 
	ng-repeat	= "category in ic.site.filterByCategory | icCategories"
	class		= "col-2"
	ng-click	= "ic.filterConfig.toggleCategory(category.name, false)"
	title		= "{{'INTERFACE.REMOVE_FILTER' | translate}}: {{'CATEGORIES.%s' | fill : category.name| translate }}"
>
	<span class	= "icon icon-interface-close white right">
		{{'CATEGORIES.%s' | fill : category.name | translate}}
	</span>
</button>


<!-- sub categories -->

<span 
	ng-if = "(ic.site.filterByCategory | icSubCategories).length > 0"
	class = "icon icon-interface-right plain"
></span>


<button 
	ng-repeat	= "tag in ic.site.filterByCategory | icSubCategories"
	class		= "col-2"
	ng-click	= "ic.filterConfig.toggleCategory(tag, false)"
	title		= "{{'INTERFACE.REMOVE_FILTER' | translate}}: {{'CATEGORIES.%s' | fill : tag| translate }}"
>
	<span class	= "icon icon-interface-close white right">
		{{'CATEGORIES.%s' | fill : tag | translate}}
	</span>
</button>


<!-- types -->

<span 
	ng-if = "(ic.site.filterByType).length > 0"
>|</span>


<button 
	ng-repeat	= "type in ic.site.filterByType"
	class		= "col-2"
	title		= "{{'INTERFACE.REMOVE_FILTER' | translate}}: {{'TYPES.%s' | fill : type | translate }}"
	ng-click	= "ic.filterConfig.toggleType(type)"
	ic-touch-me
>
	<span class	= "icon icon-interface-close white right">	
		{{'TYPES.%s' | fill : type | translate }} 
	</span>
</button>



<!-- search -->

<span ng-if = "ic.site.searchTerm">|</span>

<button
	ng-if		= "ic.site.searchTerm"
	class		= "col-2"
	title		= "{{'INTERFACE.REMOVE_FILTER' | translate}}: {{'INTERFACE.SEARCH_FOR' | translate}} '{{ic.site.searchTerm}}'"
	ng-click	= "ic.site.searchTerm = null"
	ic-touch-me
>
	<span class	= "icon icon-interface-close white right">
		{{'INTERFACE.SEARCH_FOR' | translate}} "{{ic.site.searchTerm}}"
	</span>
</button>



<!-- unsorted -->

<span ng-if = "ic.site.filterByUnsortedTag.length > 0">|</span>

<button 
	class		= "col-2"
	ng-repeat	= "tag in ic.site.filterByUnsortedTag"
	title		= "{{'INTERFACE.REMOVE_FILTER' | translate}}: {{'UNSORTED_TAGS.%s' | fill : tag | translate }}"
	ng-click	= "ic.filterConfig.toggleUnsortedTag(tag)"
	ic-touch-me
>
	<span class = "icon right white icon-interface-close">	
		{{'UNSORTED_TAGS.%s' | fill : tag | translate }} 
	</span>
</button>

<!-- item -->


<div ng-if = "ic.site.activeItem">	
	<span class = "icon icon-interface-right left plain"> {{ic.site.activeItem.title}}</span>
</div>

