<h1>
	<span class ="icon icon-interface-search"></span>
	{{'INTERFACE.EXTENDED_SEARCH_HEADING' | translate}}
</h1>	


<h2>{{'INTERFACE.EXTENDED_SEARCH_LABEL' | translate}}</h2>	

<ic-search
	ic-debounce = "500"
>
</ic-search>

<h2>{{'INTERFACE.EXTENDED_SEARCH_TAXONOMY' | translate}}</h2>	

<div class ="buttons">

	<select
		class		= "border-2 padding round icon icon right icon-interface-down"
		ng-repeat 	= "filter in filters"
		ng-model	= "filter.data"
		ng-class	= "{ 'bg-3' : filter.data}"

	> 

		<option			
			ng-if = "filter.type === 'categories'"
			value = ""
		>
			{{'INTERFACE.SELECT_NO_VALUE' | translate}} {{'ITEMS.CATEGORY' | fill: filter.name | translate}}
		</option>


		<option
			ng-if		= "filter.type === 'categories'"
			ng-repeat 	= "option in filter.options | orderBy : ic.utils.evalItems('item.substr(0,4) == \'misc\' ? null : (\'CATEGORIES.%s\' | fill : item | translate)')"
			value		= "{{option}}"
		>
			{{'CATEGORIES.%s' | fill: option | translate}}
		</option>





		<option
			ng-if = "filter.type === 'tagGroup'"
			value = ""
		>
			{{'INTERFACE.SELECT_NO_VALUE' | translate}} {{'ITEMS.%s' | fill: filter.name | translate}}
		</option>



		<option
			ng-if		= "filter.type === 'tagGroup'"
			ng-repeat 	= "option in filter.options | orderBy : ic.utils.evalItems('item.substr(0,4) == \'misc\' ? null : (\'UNSORTED_TAGS.%s\' | fill : item | translate)')"
			value		= "{{option}}"
		>
			{{'UNSORTED_TAGS.%s' | fill: option | translate}}
		</option>






		<option
			ng-if = "filter.type === 'itemProperty'"
			value = ""
		>
			{{'INTERFACE.SELECT_NO_VALUE' | translate}} {{'ITEMS.%s' | fill: filter.name | translate}}
		</option>



		<option
			ng-if		= "filter.type === 'itemProperty'"
			ng-repeat 	= "option in filter.options | orderBy"
			value		= "{{option}}"
		>
			{{ option }}
		</option>

	</select>

	
</div>

<h2>{{'INTERFACE.EXTENDED_SEARCH_RANGE' | translate}}</h2>	

<div>
	{{'INTERFACE.CURRENT_POSITION'| translate }}:
	<span
		ng-if = "!position.coordinates" 
	>
		{{'INTERFACE.CURRENT_POSITION_UNKNOWN'| translate }}
	</span>
</div>

<div class = "buttons">	

	<input 
		class				= "border-2 padding"
		ng-model			= "position.zip"
		ng-model-options	= "{ debounce:500 }"
		placeholder			= "{{'INTERFACE.PLACEHOLDER_ZIP' | translate}}" 
	/>

	<button
		class	 	= "border-2 padding round"
		ng-click	= "pickCoordinates()"
		title		= "{{'INTERFACE.PICK_COORDINATES' | translate}}"
	>
		{{'INTERFACE.PICK_COORDINATES' | translate}}
	</button>

	<button
		class	 	= "border-2 padding round"
		ng-click	= "locate()"
		title		= "{{'INTERFACE.GET_POSITION_METHOD_AUTO' | translate}}"
	>
		{{'INTERFACE.GET_POSITION_METHOD_AUTO' | translate}}
	</button>	

</div>

<br/>

{{'INTERFACE.EXTENDED_SEARCH_RADIUS' | translate}}
<!-- 

<div 
	class 	= "buttons split"
>

	<div>
		<h3>{{'INTERFACE.CURRENT_POSITION' | translate}}</h3>	
		<button
			ng-repeat 	= "method in position.methods"
			class		= "icon icon-interface-radio left"
			ng-class	= "{'checked': method == position.method }"
			ng-click	= "position.method = method"
		>
			{{'INTERFACE.GET_POSITION_METHOD_%s' | fill: method | translate}}
		</button>
	</div>

	<div>

		<h3 title = "{{position.coordinates}}">
			{{'INTERFACE.CURRENT_POSITION' | translate}}: 
			<span ng-if = "!position.coordinates">{{'INTERFACE.CURRENT_POSITION_UNKNOWN' | translate}}</span>
		</h3>


		
		<button 
			ng-if		= "position.method == 'manual' && position.coordinates"
			class		= "icon icon-interface-position_marker left"
			title		= "{{'INTERFACE.SHOW_MANUAL_POSITION_ON_MAP' | fill: method | translate}}"
			ng-click	= ""
		> {{'INTERFACE.MANUALLY_PICKED_POSITION' | translate}} </button>	

		<button 
			ng-if		= "position.method == 'auto' && position.coordinates"	
			class		= "icon icon-interface-position_marker left"
			title		= "{{'INTERFACE.SHOW_AUTO_POSITION_ON_MAP' | fill: method | translate}}"
			ng-click	= "locate()"
		> {{'INTERFACE.AUTO_DETERMINED_POSITION' | translate}} </button>

		<button 
			ng-if		= "position.method == 'zip' && position.coordinates"	
			class		= "icon icon-interface-position_marker left"
			title		= "{{'INTERFACE.SHOW_AUTO_POSITION_ON_MAP' | fill: method | translate}}"
			ng-click	= ""
		>
			({{position.zip}})
		</button>	



		<input 
			ng-if				= "position.method == 'zip'"
			class				= "border-2 padding"
			ng-model			= "position.zip"
			ng-model-options	= "{ debounce:500 }"
			placeholder			= "{{'INTERFACE.PLACEHOLDER_ZIP' | translate}}" 
		/>

		<button
			ng-if			= "position.method == 'zip'"
			class	 		= "border-2 padding"
			ng-click		= "guessCoordinatesFromZip(position.zip)"
			ng-disabled		= "isNoZip(position.zip)"
			title			= "{{'INTERFACE.GET_COORDINATES_FROM_ZIP' | translate}}"
		>
			{{'INTERFACE.GET_COORDINATES_FROM_ZIP' | translate}}
		</button>


		<button
			ng-if		= "position.method == 'manual'"
			class	 	= "border-2 padding"
			ng-click	= "pickCoordinates()"
			title		= "{{'INTERFACE.PICK_COORDINATES' | translate}}"
		>
			{{'INTERFACE.PICK_COORDINATES' | translate}}
		</button>

		<button
			ng-if		= "position.method == 'auto'"
			class	 	= "border-2 padding"
			ng-click	= "locate()"
			title		= "{{'INTERFACE.GET_POSITION_METHOD_AUTO' | translate}}"
		>
			{{'INTERFACE.GET_POSITION_METHOD_AUTO' | translate}}
		</button>	


	</div>
</div> -->


<div 
	ng-init = "ranges = [1, 5, 10, 20, 50]"
	class	= "buttons"
>

	<button
		ng-repeat 	= "range in ranges"
		ng-disabled	= "!position.coordinates"
		class		= "round border-2 padding" 
		ng-click	= "ic.site.range = ic.site.range == range ? undefind : range"
		ng-class	= "{ 'bg-3': ic.site.range == range}"
		title		= "{{ position.coordinates ? '' : ('INTERFACE.CURRENT_POSITION'| translate) +':'+('INTERFACE.CURRENT_POSITION_UNKNOWN'| translate) }}"
	>
		{{range}} km
	</button>	

</div>

<hr/>

<div class = "results">
	<a
		class 	= "bg-3 round padding large"
		ng-href = "{{ { list: true } | icLink }}"
	>
		{{'INTERFACE.EXTENDED_SEARCH_RESULTS' | translate : { number:ic.itemStorage.filteredList.length } }}
	</a>
</div>