<ic-search>
</ic-search>

<h3>{{'INTERFACE.DISTANCE' | translate}}</h3>	

<div ng-init = "ranges = [1, 2, 5, 10, 20]">
	<button
		ng-repeat 	= "range in ranges"
		class		= "round border-2 padding" 
		ng-click	= "ic.site.range = range*100"
	>
		range-{{range}}
	</button>
	Range: {{ic.site.range}}
</div>

<div ng-init = "tags = []">

<button
	class	 	= "border-3 padding"
	ng-click	= "pickCoordinates()"
	title		= "{{'INTERFACE.PICK_COORDINATES' | translate}}"
>
	{{'INTERFACE.PICK_COORDINATES' | translate}}
</button>

	tags...
</div>