<header>

	<div class = "background ic-bg-cat-{{ (icItem|icCategory).name }}"></div>

	<div class = "icon icon-category-{{ (icItem|icCategory).name }}">
	</div>


	<!-- add proper favourite icons, addFavourite, removeFavourite -->

	<button
		class = "icon icon-interface-favourites"		
	>
	</button>

</header>


<div class = "details">

	<div 
		class = "title"
	>
		Café Zick-Zack
	</div>

	<div 
		class = "brief"
	>
		Beisammensein mit Handarbeit
	</div>

</div>


<div class = "location">

	<div class = "icon icon-type-location"></div>

	<div class = "text">
		Osloer Str. 12<br/>
		13359 Berlin
	</div>

</div>