<form 
	ng-if		= "icItem && icEdit"
	ng-submit	= "ic.keyboard.tabNextInput()"
	ng-class	= "{invalid: errors}"
>
		
	<div class = "current-value-parent-box">

			<div ng-if 	= "!hideCurrentValue">
				<span class =" flex">
					{{'ITEMS.RECUR_CURRENT_VALUE' | translate }}:	
				</span>
				<ic-event-details 
					ng-if				= "currentRecurringRuleset && currentRecurringRuleset.rules.length > 0"
					class				= "current-value {{diff()? 'diff': ''}}"
					ic-recurring-rules	= "currentRecurringRuleset.toString()" 
				>
				</ic-event-details>		

				<div 
					ng-if				= "!currentRecurringRuleset || currentRecurringRuleset.rules.length == 0 "			
					class 				= "no-value current-value {{diff()? 'diff': ''}}"
				>
					{{'ITEMS.RECUR_NO_RULES' | translate}}
				</div>	
			</div>

			<div 
				ng-if 	= "!hideCurrentValue" 
				class	="spacer"
			></div>

			<div ng-if		= "!updating && diff()">
				<div class =" flex">	
					<span  class =" flex-grow">
						{{'ITEMS.RECUR_EDIT_VALUE' | translate }}:	
					</span>
					<button
						ng-if 		= "!hideCurrentValue"
						ng-click	= "revert()" 
						type		= "button"
						title		= "{{ 'INTERFACE.PROPERTY_REVERT' | translate }}"
						class		= "icon icon-interface-item_revert active"
					>			
					</button>	
				</div>
				<ic-event-details 
					ng-if				= "editRecurringRuleset && editRecurringRuleset.rules.length > 0"
					class				= "current-value"				
					ic-recurring-rules 	= "editRecurringRuleset.toString()" 
				>		
				</ic-event-details>

				<div 
					ng-if				= "!editRecurringRuleset || editRecurringRuleset.rules.length == 0 "			
					class 				= "no-value current-value"
				>
					{{'ITEMS.RECUR_NO_RULES' | translate}}
				</div>	
			</div>
			
	</div>




	<!-- property proposals  start -->
	<div
		ng-if			= "showProposals &&  ic.user.can('edit_items')"		
		class			= "proposals screen-only"		
	>
		<span class ="round mini vbottom icon icon-interface-proposals bg-3 white"></span>
		{{'ITEMS.PROPOSED_EDIT' | translate}}:

		<button
			ng-repeat 	= "proposal in proposals"	
			class		= "proposal-indicator"
			ng-class	= "{'bg-3 white': editMatchesProposal(proposal), 'active border-3': !editMatchesProposal(proposal), 'disabled': !isApplicable(proposal)}"
			ng-click	= "isApplicable(proposal) && updateEditWithProposal(proposal)"
			type		= "button"
		>
			<span>{{proposal.index+1}}</span>
		</button>	
	</div>


	<!-- property proposals  end -->


	<div class	= "recurring-rules">

		<select 
			ng-repeat-start 	= "rule in editRecurringRuleset.rules"
			class 				= "iteration icon right icon-interface-down border-1"
			ng-model			= "rule.iteration"
			title				= "{{'ITEMS.RECUR_INTERVAL' | translate}}"
		>
			<option 
				ng-repeat	= "iteration in ic.recurring.availableIterations"
				value 		= "{{iteration}}"
			>
				{{'ITEMS.RECUR_%s' | fill: iteration | translate}}
			</option>

	
		</select>

		<div>
			<select 
				ng-if		= "rule.requiresWeekday"
				ng-model	= "rule.weekday"
				class 		= "day icon right icon-interface-down border-1"
				title		= "{{'ITEMS.RECUR_WEEKDAY' | translate}}" 
			>

				<option value = "mon">
					{{'ITEMS.RECUR_MON' | translate }}
				</option>

				<option value = "tue">
					{{'ITEMS.RECUR_TUE' | translate }}
				</option>

				<option value = "wed">
					{{'ITEMS.RECUR_WED' | translate }}
				</option>

				<option value = "thu">
					{{'ITEMS.RECUR_THU' | translate }}
				</option>

				<option value = "fri">
					{{'ITEMS.RECUR_FRI' | translate }}
				</option>

				<option value = "sat">
					{{'ITEMS.RECUR_SAT' | translate }}
				</option>

				<option value = "sun">
					{{'ITEMS.RECUR_SUN' | translate }}
				</option>
			
			</select>

		</div>

		<div class ="spacer"></div>

		<input 
			type 				= "time" 
			class 				= "start-time"
			ng-model			= "rule.startTime"
			ng-model-options	= "{timeSecondsFormat:''}"
			title				= "{{'ITEMS.RECUR_START_TIME' | translate}}" 
		>

		<input 
			type 				= "time"
			step				= "60"
			class 				= "end-time"
			ng-model			= "rule.endTime"				
			ng-model-options	= "{timeSecondsFormat:''}"
			title				= "{{'ITEMS.RECUR_END_TIME' | translate}}" 
		>

		<div 
			class				= "action before "
			ng-class			= "{'with-example-date': rule.requiresExampleDate, 'with-error': rule.getErrors()}"

		>
			<button 
				ng-click 	= "editRecurringRuleset.removeRule(rule)"
				class		= "remove icon icon-interface-close round bg-3 white"
				title		= "{{'ITEMS.RECUR_REMOVE_RULE' | translate}}"					
			>
			</button>
		</div>


		<div
			ng-if = "rule.requiresExampleDate"
			class = "start-date"
		>

			<span>
				{{'ITEMS.RECUR_DATE' | translate}}
			</span>


			<input 
				type 				= "date" 
				class 				= "example-date"
				ng-model			= "rule.exampleDate"				
				title				= "{{'ITEMS.RECUR_EXAMPLE_DATE' | translate}}" 
			>
		</div>

		<div			
			ng-if = "rule.getErrors()"
			class = "error"
		>
			{{ 'ITEMS.RECUR_ERROR_%s' | fill: rule.getErrors() | translate }}
		</div>

		<div 
			ng-repeat-end
			class				= "action after"
			ng-class			= "{ 'with-example-date': rule.requiresExampleDate, 'with-error': rule.getErrors()}"
		>
			<button 
				ng-click 	= "editRecurringRuleset.removeRule(rule)"
				class		= "remove icon icon-interface-close round bg-3 white"
				title		= "{{'ITEMS.RECUR_REMOVE_RULE' | translate}}"					
			>
			</button>
		</div>


	</div>

	<button 
		class		= "bg-3 padding"
		ng-click 	= "editRecurringRuleset.addRule(['weekly']); $event.preventDefault()"
	>
		{{'ITEMS.RECUR_ADD_RULE' | translate}}
	</button>



	<div class  = "note col-1">{{"ITEMS.%s_NOTE" | fill : (icTranslationKey || icKey) | translate }}</div>
	
	<div ng-if = "!error || icHideErrors" class = "error"></div>
	<div ng-if = "error && !icHideErrors" class = "error col-3"> 
		{{'ITEMS.%s_%s' | fill : [(icTranslationKey || icKey), error.code] | translate}} 
		{{error.key ? "(" + ('LANGUAGES.%s' | fill : error.key | translate) +")" : '' }}
	</div>

</form>

