<header>

	<div class = "background ic-bg-cat-{{ (icItem|icCategory).name }}"></div>

	<div class = "icon icon-category-{{ (icItem|icCategory).name }}">
	</div>


	<button
		class 		= 	"icon"		
		ng-class	= 	"{ 
							'icon-interface-favourites_remove'	: ic.favourites.contains(icItem),
							'icon-interface-favourites_add'		:!ic.favourites.contains(icItem)
						}"
		ng-click 	= 	"ic.favourites.toggleItem(icItem); $event.preventDefault()" 
		title		= 	"{{ (ic.favourites.contains(icItem) ? 'INTERFACE.FAVOURITE_REMOVE' :'INTERFACE.FAVOURITE_ADD') | translate}}"
	>
	</button>

</header>


<div class = "details">

	<div 
		class = "title"
	>
		{{icItem | icFullTitle}}
	</div>

	<div 
		class = "brief"
	>
		{{icItem.brief[ic.site.currentLanguage]}}
	</div>

</div>

<ic-item-location
	class		= "icon icon-type-location left"
	ic-item		= "icItem"
	ic-short	= "true"
>	
</ic-item-location>
