<header>

	<div class = "background ic-bg-cat-{{ (icItem|icCategory).name }}"></div>

	<div class = "icon icon-category-{{ (icItem|icCategory).name }}">
	</div>


	<!-- add proper favourite icons, addFavourite, removeFavourite -->

	<button
		class = "icon icon-interface-favourites"		
	>
	</button>

</header>


<div class = "details">

	<div 
		class = "title"
	>
		{{icItem | icFullTitle}}
	</div>

	<div 
		class = "brief"
	>
		{{icItem.brief[ic.site.currentLanguage]}}
	</div>

</div>

<ic-item-location
	class		= "icon icon-type-location left"
	ic-item		= "icItem"
	ic-short	= "true"
>	
</ic-item-location>
