<article
	ic-settle-scrollbar					= "true"
	ic-scroll-snap-anchor 				= "header"
	ic-scroll-repeat-limit-container 	= "true"
	class								= "padding"
	ng-init								= "calendarView = false"
>

	<div 
		ng-if = "!ic.site.visibleSections.filter"
		class = "bg-0 padding active flex"
	>
		<button
			class 		= "block margin-right flex-grow bg-3 padding tac"
			ng-click 	= "ic.overlays.toggle('taxonomyFilter')"
			ic-touch-me 
		>
			{{'INTERFACE.FILTER' | translate}}
		</button>

		<button 
			class 		= "block margin-left flex-grow bg-3 padding tac"
			ng-click 	= "ic.site.expandMap = true"
			ic-touch-me 
		>
			{{'INTERFACE.MAP' | translate}}
		</button>
		
	</div>

	<ic-taxonomy-filter-tag-list 
		class = "bg-0 padding"
		ng-if = "!ic.site.visibleSections.filter"
	>
	</ic-taxonomy-filter-tag-list>

	<ic-sorting 
		ng-if = "!calendarView"
		class = "padding bg-0"
	>
	</ic-sorting>

	<h2 
		class 		= "bg-0 padding icon right icon-interface-close"
		ng-show 	= "calendarView"
		ng-click 	= "calendarView = !calendarView"
		style		= "display:block"

	>
		Wochenüberblick		
	</h2>

	<div
		ng-hide = "calendarView"
		class 	= "bg-0 padding"
	>
		<button 
			ng-click 	= "calendarView = !calendarView"
			class 		= "icon left icon-type-service"
		> 
			&nbsp;Kalenderansicht 
		</button>
	</div>


	<ic-search-result-list
		ng-if = "!calendarView"		
	>
	</ic-search-result-list>

	<ic-search-result-calendar
		ng-if = "calendarView"		
	>
	</ic-search-result-calendar>
	
</article>